<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form  action="/" method="GET">
      <button type="submit">Get Chuck Norris</button>
      
    </form>
  </body>
</html>
